*{
    box-sizing: border-box;
}

body{
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: scroll;
    color: #000;
    background: #457b9d  no-repeat fixed center; 
    padding: 20px;
    /*background-image: url('IMG_2264.JPG') no-repeat fixed center;*/
}

h1 {
    text-align: center;
    padding-bottom: 10px;
    font-family: "Oswald", sans-serif;
    font-size: 2.5em;
    letter-spacing: -1px;
    color: #000;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container form input label {
    font-size: 25px;
    color: #000;
    padding: 10px;
}

.container form input {
    padding: 15px;
    font-size: 24px;
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 45vh;
}

.container form input:focus {
    background-color: #f1faee;
	padding: 3%;
	border: 1px solid #747382;
}

.btn {
    background-color: #fff;
    border: 0;
    cursor: pointer;
    font-size: 24px;
    top: 0;
    left: 0;
    height: 50px;
    width: 25vh;
    text-align: center;
    margin-top: 20px;
    padding: 15px;
    border-radius: 45px;
}

.btn:hover {
    background-color: #f1faee;
    
    color: #000;
    transform: translateY(-5px);
  }

.container form input:hover {
    transform: translateY(-5px);
}

.hidden {
    display: none;
}

#results{
    color: #000;
    max-width: 700px;
    scroll-behavior: smooth;
    height: 50vh;
    margin: 0 auto;
}

#results-list {
    background-color: #f1faee;
    padding-top: 2px;
    padding-right: 20px;
}

#results h1 {
    text-align: center;
    padding-bottom: 10px;
    font-family: "Oswald", sans-serif;
    font-size: 2em;
    letter-spacing: -1px;
    color: #000;
}

#results li {
    list-style-type: none;    
    margin-top: 5px;
}


@media(max-width: 600px) {
    .container form input {
        width: 30vh;
    } 

    .btn {
        width: 25vh;
        margin: 15px 0;
    }

    #results {
        max-width: 400px;
    }
}

@media(min-width: 2000px) {
    #results{
        max-width: 900px;
    }
}